{{ define "content" }}

  <p>Bonjour {{ .Destinataire.Nom }},</p>

  <p>L'inspection du {{ .DateInspection }} sur votre établissement {{ .RaisonEtablissement }}  sis {{ .adresse1Etablissement}} 
    {{ .codePostalEtablissement }} {{ .CommuneEtablissement }} contient des non-conformités encore non levées.
    Leurs échéances de résolution sont proches. Merci de vous assurer de les respecter.</p>
  <p>Si vous rencontrez des difficultés, n'hésiter à en informer les inspecteurs.</p>
  <p>Vous pouvez consulter le détail des échéances sur <a href="{{ $.BaseURL }}/inspections/{{ .InspectionId }}">Fil'Harmonic</a>.</p>

{{ end }}
